.title {
    height: 50px;
    text-align: left;
    font-size: 32px;
}

.map {
    border: 1px solid white;
    height: 600px;
}

.map div {
    height: 95%;
    border: 1px solid #333;
    border-radius: 25px;
    margin: 15px;
}