.summary {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.summary > div {
    height: 200px; 
}

.summary-title {
    text-align: left;
    padding: 20px;
}

.summary-content {
    color: #C62828;
    font-size: 64px;
}