.active-task {
    height: 300px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-bottom: 20px;
}

.active-task-content{
    text-align: left;
    margin-left: 50px;
}

.active-task-destination {
    padding-bottom: 8px;
}

.summary {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-bottom: 20px;
}

.summary-title {
    text-align: center;
    padding: 20px;
}

.summary-content {
    color: #C62828;
    font-size: 48px;
}


.button {
    background-color: #ee4b4b;
    color: white;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    width: 60%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.button:hover {
    background-color: #ff5252;
}

.button.view-detail, .button.update-status {
    width: 25%;
    min-width: 70px;
    margin-left: 20px;
}

.update-state-1-btn, .finance-report-btn {
    width: 100%;
    margin-bottom: 12px;
    border: 1px solid #ee4b4b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;  
}

.update-state-2-btn {
    background: white;
    color: #ee4b4b;
    width: 100%;
    margin-bottom: 12px;
    border: 1px solid #ee4b4b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;  
}


.drivecard-title {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    margin-bottom: 5px;
}

.add-vehicle-btn {
    background: white;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    color: #dc3545;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: transform 0.2s;
}

.add-vehicle-btn:hover {
    transform: translateY(-2px);
}

.edit-btn {
    color: #dc3545;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 20px 20px 0px 20px;
}

.edit-icon {
    color: #dc3545;
    margin-right: 5px;
}

/* CSS cho phần search */

.search-container {
    border-radius: 25px;
}

.search-input {
    width: 90%;
    padding: 12px;
    border: 1px solid #eee;
    border-radius: 20px;
    font-size: 16px;
    background: #f8f9fa;
    padding-left: 40px;
}

.search-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* CSS cho các phần tử liên quan Card và List */
.license-number, .customer-number, .driver-number, .total-trips, .income {
    text-align: left;
    font-size: 14px;
    margin-left: 18px;
    font-weight: 400;
}

.order-list, .vehicle-list, .driver-list {
    padding: 0 16px;
}

.order-card, .vehicle-card, .driver-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
}

.order-card:hover, .vehicle-card:hover, .driver-card:hover {
    transform: translateX(5px);
}

.order-info, .vehicle-info, .driver-info {
    flex: 1;
}

.order-info h2 {
    text-align: left;
}
/* CSS cho các phần tử liên quan status */

.status-badge {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin: auto 10px;
    width: 100px;
    color: white;
}

.status-filters {
    margin-bottom: 20px;
}

.status-all {
    background-color: rgb(187, 187, 187);
}

.status-active, .status-completed, .status-online {
    background-color: #2e7d32;
}

.status-inactive, .status-cancelled, .status-offline {
    background-color: #c62828;
}

.status-pending {
    background-color: rgb(106, 106, 46);
}

.status-inprogress {
    background-color: rgb(85, 44, 116);
}

.status-pending.detail {
    display: flex;
    margin: 10px 10px;
    width: 50px;
    padding: 6px 12px;
}

/* CSS các phần khác */
.info {
    padding-left: 10px;
    text-align: left;
    font-size: 18x;
    font-weight: 100;
}
.info-detail {
    margin-left: 25px;
}

.total {
    font-size: 22px;
    color: red;
    text-align: right;
}

/* CSS finance report */
.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
}

.filter label {
    font-size: 24px;
    color: #333;
    margin-bottom: 4px;
}

.time-filter, .driver-filter {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.revenue-info {
    text-align: left;
}

.revenue-info h2 {
    color: red;
}

.revenue-info h1 {
   margin-left: 50px;
}

.profile-image img {
    width: 120px;
    border-radius: 50%;
    margin: 24px;
}